* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Merriweather", serif;
    color: #414141;
    background: linear-gradient(rgb(6, 45, 45), rgb(240, 230, 110));
    margin: 0 auto;
    
}

header {
    width: 80%;
    margin: 0 auto;
    padding: 10px 0;
    background-color: khaki;
    line-height: 5rem;
    text-align: center;
    letter-spacing: .3rem;
    text-shadow: 2px 2px 10px #FFF8EF;
    font-size: 1.1rem;
}

main {
    width: 80%;
    margin: 0 auto;
    background-color: #FFF8EF;
    padding: 1rem;
    text-align: center;
}

h1 {
    font-weight: 700;
}

h2 {
    margin-top: 20px;
    padding: .5rem;
}

p {
    width: 50%;
    margin: 0 auto;
    text-align: left;
    line-height: 1.5rem;
}

.wireframe-container {
    margin: 0 auto;
}

.wireframe {
    padding-bottom: 1.5rem;
}

.wire {
    text-align: center;
    font-weight: bold;
    font-style: italic;
    padding: .7rem;
}

.wireframe img {
    width: 100%;
    max-width: 600px;
    height: auto;
    display: block;
    margin: 0 auto;
}

footer {
    background-color: rgb(6, 45, 45);
    color:#FFF8EF;
    font-weight: 300;
    font-size: small;
    text-align: center;
    padding: 1rem;
    width: 50%;
    height: auto;
    margin: 0 auto;
    border-radius: 0 0 100px 100px;
    padding-left: 3rem;
}

#lastModified {
    margin-top: 0.5rem;
}